#comments {
  margin-bottom: 8px;
}

#comments p {
  padding: 0;
  font-size: 15px;
}

#add_comment {
  width: 500px;
  padding: 10px;
  margin-bottom: 16px;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(240, 242, 245);
}