#create_post {
  width: 40vw;
  margin: 20px auto;
  padding: 10px 80px 10px 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#create_post h3 {
  text-align: center;
  padding: 10px;
}

#create_post form {
  display: grid;
  place-items: center;
  padding: 20px 0;
}

#create_post form > * {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(240, 242, 245);
  resize: none;
}

#create_post form button {
  margin-bottom: 0;
  width: 100%;
  background-color: rgb(24, 119, 242);
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #create_post {
    width: 100%;
    padding: 0.5vh 1vw;
  }
}