#friend_details_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 30vw;
  padding: 28px 10px;
  margin: 30px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friend_details_header img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

#friend_details_header h1 {
  text-align: center;
}

#friend_amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 40px;
}

#if_friend {
  padding: 10px 25px;
  background-color: rgb(54, 180, 54);
  color: white;
  border-radius: 8px;
}

#friend_details_body {
  width: 45vw;
  padding: 28px 100px;
  margin: 30px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friend_details_body p {
  margin: 15px;
}

@media screen and (max-width: 640px) {
  #friend_details_header {
    width: 100%;
    padding: 20px 10px;
    flex-direction: column;
  }

  #friend_amount {
    justify-content: space-between;
    gap: 2vh;
    margin-top: 10px;
  }

  #friend_details_body {
    width: 100%;
    padding: 20px 10px;
  }
}