#friends_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 45vw;
  padding: 28px;
  margin: 60px auto 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friends_header img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

#user_name {
  font-size: 1.5rem;
  text-align: center;
}

#friend_list {
  display: grid;
  padding: 1vw 5vw;
  grid-template-columns: repeat(4, 1fr);
}

#individual_friend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#individual_friend img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#individual_friend button {
  display: flex;
  background-color: rgb(187, 42, 42);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 8px;
}

@media screen and (max-width: 640px) {
  #friends_header {
    width: 100%;
    flex-direction: column;
  }

  #user_name {
    font-size: 1rem;
  }

  #friend_list {
    grid-template-columns: 1fr;
  }
}