header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1vh 5vw;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

header a {
  color: black;
}

header a:visited {
  color: black;
}

#header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(24, 119, 242);
  color: white;
  border-radius: 50%;
  margin: auto;
}

header h1 {
  margin-bottom: 3px;
}

.icon {
  padding: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(240, 242, 245);
  cursor: pointer;
}

header button {
  height: 40px;
  width: 350px;
  background-color: rgb(240, 242, 245);
  border-radius: 25px;
  border-style: none;
  font-size: 16px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

#header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  header {
    padding: 0.5vh 1vw;
  }
}