#posts {
  width: 40vw;
  padding: 10px 80px 10px 80px;
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#pic_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pic_name img {
  margin-right: 10px;
}

#pic_name p {
  font-size: 18px;
  font-weight: bold;
}

#profile_picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#x_button {
  font-size: 24px;
  border-style: none;
  background-color: white;
  color: gray;
  cursor: pointer;
}

#message {
  padding: 10px;
}

#posts_media {
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}

#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px 10px 16px;
}

#info > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8vh;
}

hr {
  border: 1px solid gray;
}

#like_comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#like_comment > * {
  display: flex;
  align-items: center;
  color: gray;
  gap: 1vh;
}

@media screen and (max-width: 640px) {
  #posts {
    width: 100%;
    padding: 0.5vh 1vw;
  }
}