#user {
  display: grid;
  place-items: center;
  
}

#user_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 100px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#user_header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

#user_friend_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  
}

#user_edit {
  padding: 10px 25px;
  background-color: rgb(24, 119, 242);
  color: white;
  border-radius: 8px;
}

#user_body {
  width: 500px;
  padding: 28px 100px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#user_body p {
  margin: 10px;
}