#user_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 30vw;
  padding: 28px 10px;
  margin: 60px auto 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#user_header img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

#user_header h1 {
  text-align: center;
}

#user_friend_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  margin-top: 40px;
}

#user_edit {
  padding: 10px 25px;
  background-color: rgb(24, 119, 242);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#user_body {
  width: 45vw;
  padding: 28px 100px;
  margin: 30px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#user_body p {
  margin: 15px;
}

@media screen and (max-width: 640px) {
  #user_header {
    width: 100%;
    padding: 20px 10px;
    flex-direction: column;
  }

  #user_friend_amount {
    justify-content: space-between;
    margin-top: 10px;
    gap: 2vh;
  }

  #user_body {
    width: 100%;
    padding: 20px 10px;
  }
}