* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(240, 242, 245);
}

main {
  display: grid;
  place-items: center;
}

/*Login*/

#login {
  margin-top: 200px;
  display: grid;
  place-items: center;
}

#login_form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login h1 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
  color: rgb(24, 119, 242);
}

#login_form input {
  height: 50px;
  width: 350px;
  background-color: white;
  border: 2px solid rgb(221, 223, 226);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

#login_form button {
  height: 50px;
  width: 355px;
  border-radius: 8px;
  border-style: none;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(24, 119, 242);
  color: white;
  cursor: pointer;
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 32px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: rgb(24, 119, 242);
  color: white;
  padding: 8px;
  border-radius: 50%;
}

header form {
  background-color: white;
  border-style: none;
}

header form input {
  height: 40px;
  width: 350px;
  background-color: rgb(240, 242, 245);
  border-radius: 25px;
  border-style: none;
  font-size: 16px;
  text-align: center;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  color: red;
  font-size: 24px;
}

/*Create Post*/

#create_post {
  margin-top: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  
}

#create_post h3 {
  text-align: center;
  padding: 10px;
}

#create_post form {
  display: grid;
  place-items: center;
  padding: 20px;
}

#create_post form > * {
  width: 500px;
  padding: 10px;
  margin-bottom: 16px;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(240, 242, 245);
}

#create_post form button {
  width: 520px;
  background-color: rgb(24, 119, 242);
  color: white;
  font-size: 24px;
  font-weight: bold;
}