* {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 242, 245);
}

#login {
  margin-top: 300px;
  display: grid;
  place-items: center;
}

#login_form {
  background-color: white;
  padding: 20px;
}

#login_form h1 {
  margin-bottom: 20px;
}