* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(240, 242, 245);
}

main {
  display: grid;
  place-items: center;
}

/*Login*/

#login {
  margin-top: 200px;
  display: grid;
  place-items: center;
}

#login_form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login h1 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
  color: rgb(24, 119, 242);
}

#login_form input {
  height: 50px;
  width: 350px;
  background-color: white;
  border: 2px solid rgb(221, 223, 226);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

#login_form button {
  height: 50px;
  width: 355px;
  border-radius: 8px;
  border-style: none;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(24, 119, 242);
  color: white;
  cursor: pointer;
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 32px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: rgb(24, 119, 242);
  color: white;
  padding: 8px;
  border-radius: 50%;
}

#home_icon {
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(240, 242, 245);
  margin-left: 16px;
  cursor: pointer;
}

header button {
  height: 40px;
  width: 350px;
  background-color: rgb(240, 242, 245);
  border-radius: 25px;
  border-style: none;
  font-size: 16px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

#friend_icon {
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: rgb(240, 242, 245);
  cursor: pointer;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

header a:visited {
  color: black;
}

/*Create Post*/

#create_post {
  margin-top: 32px;
  padding: 0 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#create_post h3 {
  text-align: center;
  padding: 10px;
}

#create_post form {
  display: grid;
  place-items: center;
  padding: 20px;
}

#create_post form > * {
  width: 500px;
  padding: 10px;
  margin-bottom: 16px;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(240, 242, 245);
}

#create_post form button {
  margin-bottom: 0;
  width: 520px;
  background-color: rgb(24, 119, 242);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/*Posts*/

#posts {
  width: 520px;
  padding: 20px 120px 0 120px;
  margin: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pic_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pic_name img {
  margin-right: 10px;
}

#pic_name p {
  font-size: 18px;
  font-weight: bold;
}

#profile_picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#x_button {
  font-size: 24px;
  border-style: none;
  background-color: white;
  color: gray
}

#posts p {
  padding: 10px;
}

#posts_media {
  height: 520px;
  width: 520px;
  object-fit: cover;
  margin-bottom: 8px;
}

#like_comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#like_comment > * {
  display: flex;
  align-items: center;
  color: gray;
}

#like_comment_amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

#like_comment_amount > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px 10px;
}

#like_comment_amount p {
  padding: 0 0 0 6px;
}

/*Comment*/

#comments {
  margin-bottom: 8px;
}

#comments p {
  padding: 0;
  font-size: 15px;
}

#add_comment {
  width: 500px;
  padding: 10px;
  margin-bottom: 16px;
  border-style: none;
  border-radius: 8px;
  background-color: rgb(240, 242, 245);
}

/*Friend List*/

#friends {
  display: grid;
  place-items: center;
}

#friends_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friends_header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

#friend_list {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
}

#individual_friend {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#individual_friend img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#individual_friend button {
  background-color: rgb(196, 37, 37);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 30px;
}

#friend_details {
  display: grid;
  place-items: center;
  
}

#friend_details_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 100px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friend_details_header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}

#friend_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#if_friend {
  padding: 10px 25px;
  background-color: rgb(54, 180, 54);
  color: white;
  border-radius: 8px;
}

#friend_details_body {
  padding: 28px 100px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#friend_details_body p {
  margin: 10px;
}